<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <title>Google</title>
</head>
<body>
    <header class="navbar">
        <nav class="menu-links">
            <a href="#">Images</a>
            <a href="#">Video</a>
            <a href="#">News</a>
            <a href="#">Maps</a>
            <a href="#">Gmail</a>
            <a href="#">More</a>
        </nav>
        <aside class="nav-links-end">
            <a href="#" class="btn-signin">Sign in</a>
        </aside>
    </header>
    <main>
        <img src="{{ url_for('static', filename='img/google_logo.png') }}" id="foto_google" alt="Google Logo">
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search Google..." required><br>
            <button type="submit">Search</button>
        </form>
    </main>
</body>
</html>