<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/index.css') }}">
    <title>Google</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='img/google_logo.png') }}" alt="Google Logo" class="logo">
        <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search Google..." required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>